/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap'); */

* {
  box-sizing: border-box;
}

body {
  margin : 0;
  padding : 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f6fbf8;
}
