.admin-page-main-cont {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.645);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.admin-left-cont {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.action-list-item {
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.admin-right-cont {
  width: 75%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-plan-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.active-class {
  background-color: rgba(149, 157, 165, 0.2);
  pointer-events: none;
}

.unactive-class {
  background-color: rgb(92, 181, 72);
}

.update-window-main-cont {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.512);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.update-window {
  background-color: inherit;
  width: 50%;
  padding: 2rem;
  border-radius: 10px;
  z-index: 10;
  border: 0.5px solid white;
}

.allusers-bottom {
  overflow: auto;
}

.add-plan-main-cont {
  padding: 2rem;
}

.admin-allPlans-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width : 100%;
}

.admin-allPlans-top-heading-cont {
  width : 85%;
  text-align: center;
}

.admin-all-plans-cont-filter-options {
  top: 8.5rem;
  right: 6rem;
}

.form-label {
  color: rgb(92, 181, 72);
}

.options-cont {
  position: absolute;
  top : 2rem;
  right : 16rem;
  width : 7rem;
  height : 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.option {
  width : 100%;
  height : 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.option:hover, .plan-option:hover {
  cursor: pointer;
  background-color: white;
}

.admin-plans-sort-option-cont {
  background-color: rgb(92, 181, 72);
  height : 10rem;
  width : 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top : 6rem;
  right : 27rem;
}

.plan-option {
  width : 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height : 25%;
}


@media screen and (max-width: 768px) {
  .admin-page-main-cont {
    flex-direction: column;
    align-items: center;
  }

  .admin-left-cont {
    width: 100%;
  }

  .admin-right-cont {
    margin-top: 5rem;
    width : 100%;
  }

  .allusers-bottom {
    width : 95%;
    margin : 0 auto;
  }

  .options-cont {
    right : 8.2rem;
  }

  .admin-plans-sort-option-cont {
    top : 26rem;
    right : 4rem;
  }
}

@media screen and (max-width : 575px) {
  .options-cont {
    top : 4.5rem;
    right : 8.2rem;
  }

  .admin-plans-sort-option-cont {
    top : 26rem;
    right : 2rem;
  }

}

@media screen and (min-width : 769px) and (max-width : 1024px) {
  .options-cont {
    top : 2rem;
    right : 9rem;
  }

  .admin-plans-sort-option-cont {
    top : 9rem;
    right : 5rem;
  }
}

@media screen and (min-width : 1025px) {
  .admin-plans-sort-option-cont {
    top : 9.5rem;
    right : 14rem;
  }
}
