.card-cont {
    width : 18rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-top-cont {
    width : 100%;
    height : 40%;
}

.card-bottom-cont {
    height : 60%;
    padding: 0.6rem;
    background-color: white;
}

.card-top-cont img {

    width : 100%;
    height: 100%;
}

.name-cont {
    text-align: left;
    border-bottom: 1px solid green;
    padding-left: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.3rem;
}

.prop-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-prop-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width : 100%;
}

.top-prop-cont > span {
    color : rgb(92,181,72);
}

.description-cont {
    margin-top: 0.4rem;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 0.6rem;
    overflow: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    word-wrap: break-word;
}

.description-cont::-webkit-scrollbar {
    display: none;
}

.button-cont {
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
}

.card-btn-buy {
    width : 60%;
    background-color: rgb(92,181,72);

}

.card-btn-buy:hover {
    background-color: rgba(92, 181, 72, 0.671) !important;
}
